@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Jaro:opsz@6..72&family=Manrope:wght@200..800&family=Oswald:wght@200..700&display=swap');

body {
    background-color: #FCDFA6;
    font-family: "Manrope", sans-serif;
}
header {
    background-color: #F4B886;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: "Oswald", sans-serif;
    padding-left: 15px;
    font-size: 55px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #CBE896;
    font-family: "Jaro", sans-serif;
}

nav a {
    color: black;
    padding: 2rem;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    background-color: #e9ffc1;
    font-size: 25px;
}

.active {
    background-color: #CBE896; 
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main h2 {
    text-align: center;
}

img {
    padding: 20px;
}

section p {
    color: #55423A;
    font-size: 40px;
    padding: 20px;
}


/* ------------------------ Creatures/Plants styling ----------------------------  */
#creatures, #plants, #quiz {
    display: block;
}

#periods {
    text-align: center;
}
#periods a {
    color: black;
    font-family: "Jaro", sans-serif;
    padding: 1rem;
    font-size: 25px;
}

#periods a:hover {
    background-color: #FCDFA6;
    padding-top: 0%;
    color: #033300;
}

#creature-facts section, #plant-facts section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

#creature-facts h2, p, #plant-facts h2, p {
    margin-bottom: 0;
}

#creature-facts p, #plant-facts p {
    font-size: 25px;
    margin-top: 0;
    padding-top: 0;
    grid-column: 1/2;
    grid-row: 2/3;
}

#creature-facts img, #plant-facts img {
    padding-bottom: 75px;
}



/* ------------------ Quiz styling ----------------------------- */
#quiz, #scoreArea {
    margin: 0 auto;
    max-width: 400px;
}

#quiz h1 {
    font-size: 40px;
}

form, #textArea {
    border: 3px solid #F4B886;
    border-radius: 10px;
    background-color: #fae4b8;
}

fieldset {
    border: none;
}

legend {
    font-weight: bold;
}

label {
    display: block;
}

input[type="submit"] {
    padding: 15px;
    background-color: #CBE896;
    border: 3px solid #bede85;
    width: 75%;
    margin: 1rem 12.5% 2rem 12.5%;
    font-size: 25px;
    font-family: "Oswald";
}

#score:hover {
    background-color: #dfffa4;
    border: 3px solid #c7e690;
    font-family: "Oswald";
}

/* --------------- Score Styling ------------------ */
#scoreArea {
    display: block;
}

#textArea {
    padding-left: 15px;
}
